.instruction-link-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.instruction-name {
    color: var(--text-txt-primary, #000);
    text-align: center;
    /* Text/3 strong */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.instruction-link-controls-container {
    text-align: end;
}
