.instruction-name {
    color: var(--text-txt-primary, #000);
    text-align: center;
    /* Text/3 strong */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.instruction-link-label {
    color: var(--text-txt-primary, #000);
    /* Text/3 regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.instruction-link {
    color: #000;
    cursor: pointer;
}